<div class="background position-fixed">
    
    <div class="background-column container">
        <div class="row vh-100 sm-halfpage">
            <div class="col-sm-6 sm-halfpage d-flex flex-column justify-content-center align-items-center">
                <div class="particle-container d-flex flex-column justify-content-center align-items-center">
                    <div id="particles-js">

                    </div>
                    <img src="img/Hands2.svg" id="hands-image" alt="Hands image">
                    <div id="particles2-js" class="position-absolute">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="main-column container">
        <div class="row page vh-100" id="page-1">
            <div class="col-sm-6 col-md-4 sm-halfpage">

            </div>
            <div
                class="col-sm-6 col-md-8 sm-halfpage centered d-flex flex-column justify-content-center align-items-center">
                <h1 class="big-tittle text-center">Tradicionales</h1>
            </div>
        </div>

        <div class="row page vh-100" id="page-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 centered d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-center">desarrollos web y móviles</h2>
                <br>
                <p class="justified-pargraph">
                    Realizamos aplicaciones móviles IOs y Android, sistemas Web así como mantenimiento de sistemas
                    informáticos.
                </p>
            </div>
        </div>

        <div class="row page vh-100" id="page-3">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6 centered d-flex flex-column justify-content-center align-items-center">
                <p class="justified-pargraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur in eveniet quos mollitia
                    inventore quisquam quis culpa, reprehenderit dolores totam, tempore magnam itaque porro earum!
                    Recusandae eos consectetur corporis nostrum.
                </p>
                <p class="justified-pargraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur in eveniet quos mollitia
                    inventore quisquam quis culpa, reprehenderit dolores totam, tempore magnam itaque porro earum!
                    Recusandae eos consectetur corporis nostrum.
                </p>
                <button class="btn">Click</button>
            </div>
        </div>


    </div>
</div>